* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    &::after {
        box-sizing: border-box;
        display: inline-block;
    }

    &::before {
        box-sizing: border-box;
        display: inline-block;
    }
}

#directory-listings {
	font-family: var(--font-body);
	font-weight: 300;
	color: black;
	line-height: 100%;
	display: flex;
	background-color: #f9f8f7;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;

	.checkbox__label.disabled:before {
		opacity: 0;
	}

	.floating-ribbon {
   	left: 0;
	}

	a {
		font-family: var(--font-body);
		font-weight: 300;
		color: var(--color-gold);
		text-decoration: none;
	}

	h1, h2, h3 {
		font-family: var(--font-body);
		margin-bottom: 10px;
		text-transform: none;
	}

	#get-custom-matches-button {
		font-family: var(--font-body);
		font-size: 20px;
		line-height: inherit;
		cursor: pointer;
		background-color: #c4950c;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 400;
		width: 100%;
		height: 48px;
	}

	input {
		font-family: var(--font-body);
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		background-color: #fff;
		width: 100%;
		outline: 0;
	}

	textarea {
		font-family: var(--font-body);
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		background-color: #fff;
		width: 100%;
		-webkit-appearance: none;
		appearance: none;
		padding-right: 30px;
		outline: 0;
		border: 1px solid #eee;
	}

	label {
		display: flex;
		align-items: center;
	}

	option {
		cursor: pointer;
	}

	select {
		cursor: pointer;
	}

	ul {
		li {
				list-style: none;
		}
	}

	img {
		vertical-align: top;
	}

	#col-contact {
		max-width: 380px;
		background-color: #f9f8f7;
		height: max-content;
		position: sticky;
		top: 105px;

		&.col-contact-motd-spacer {
				top: 140px;
		}

	}

	#contact-form-wrapper {
		max-width: 100%;
		padding: 20px;

		.contact-form-icon {
			width: 151px;
			height: 73px;
			display: block;
			margin: 0 auto 40px;
		}

		h2 {
			font-size: 20px;
			font-weight: 300;
			line-height: 115%;
			text-align: center;
			margin-bottom: 20px;
			color: #161616;
		}

		h2 span {
			font-family: var(--font-title);
			font-style: italic;
			color: var(--color-gold);
			color: #c4950c;
			font-family: "Playfair Display";
			font-style: italic;
			white-space: nowrap;
		}

		h3 {
			font-size: 14px;
			line-height: 125%;
			text-align: center;
			color: #161616;
			margin-bottom: 20px;
			font-weight: 300;
		}

		.checkbox__label:before {
			background-color: #fff;
		}

		.contact-form__text {
			font-size: 18px;
			line-height: 115%;
			font-weight: 300;
			color: #262626;
			padding: 20px 10px 5px;
		}
		.contact-form__text--small {
			font-size: 14px;
			font-weight: 300;
			color: #969696;
			padding: 0px 10px 20px;
		}
		.checkboxes {
			padding: 5px 0 25px 10px;
			display: flex;
			gap: 10px;
			flex-wrap: wrap;

			.contact-form__item {
				flex: 0 1 calc(50% - 6px);

				@media (max-width: 1240px){
					flex: 1 1 100%;
				}
			}

			.checkbox__label:before {
				content: "";
				align-self: flex-start;
				flex: 0 0 14px;
				width: 14px;
				height: 14px;
				border: initial;
				margin: 0;
			}
			.checkbox__input:checked + .checkbox__label:before {
				background: url(../img/icons/checbox-checked.svg) 0 0 / contain no-repeat;
				border: initial;
				flex: 0 0 20px;
				width: 20px;
				height: 20px;
				margin: 0px -6px -5px 0;
				transform: translate(0, -1px);
			}
		}
	}

	#col-content {
		background-color: white;
		width: 100%;

		#directory-listings-wrapper {
			margin: 20px;

			#find-vendors-wrapper {
				padding: 15px;
				background-color: #f9f8f7;

				#breadcrumbs {
					a {
							color: lightgrey;
					}
				}
				#find-vendors {
					text-align: center;
					padding: 50px 0 80px;

					#best-of {
						font-family: "Playfair Display";
						font-style: italic;
						font-weight: 400;
						font-size: 66px;
						color: #c4950c;
						font-size: 40px;
						line-height: 150%;
					}

					h1 {
						font-size: 26px;
						font-weight: 300;
						line-height: 125%;
					}
				}
			}

			#vendors {
				margin-top: 20px;

				.vendor {
					display: flex;
					margin-bottom: 10px;
					width: 100%;
					border: 1px solid lightgrey;

					.vendor-details-wrapper {
						width: 360px;
						margin-top: 30px;
						padding: 10px;

						h2 {
							font-size: 30px;
							line-height: 120%;
							text-align: center;
						}

						a {
							color: black;
							font-weight: 400;
						}

						button {
							display: block;
							border: 1px solid #c99a0c;
							width: 150px;
							height: 35px;
							font-size: 14px;
							color: #000;
							margin: 10px auto;						
						}

						.vendor__location {
							color: lightgrey;
							text-align: center;
							font-size: 12px;
							margin-bottom: 25px;

							.icon {
								margin-top: -3px;
								margin-right: 3px;
								width: 10px;
							}
						}
					}

					.vendor-images-wrapper {
						display: flex;
						column-gap: 15px;
						padding: 15px 15px 15px 0;

						.img-wrapper {
							aspect-ratio: 0.833;
							height: 250px;
						}

						img {
							width: 100%;
							height: 100%;
							object-position: center;
							object-fit: cover;
						}
					}
				}
			}
		}
	}

	.find-vendors-filter {
		width: 100%;
		max-width: 650px;
		margin: 0 auto;
		padding-top: 15px;

		// .find-vendors-filter__elements
		&__elements {
			display: flex;
			gap: 7px;
		}
		// .find-vendors-filter__element
		&__element {
			flex: 0 1 33.333%;
		}
		// .find-vendors-filter__select
		&__select {
			height: 36px;
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 14px;
			gap: 14px;
			font-weight: 300;
			font-size: 18px;
			color: #969696;
			cursor: pointer;

			span {
				padding-top: 2px;
			}

			img {
				display: block;
				height: 8px;
				width: 14px;
				transform: rotate(0deg);
				transition: all 0.2s ease 0s; 
			}
		}
		&__select._active {
			img {
				transform: rotate(-180deg);
			}
		}
	}
	.find-vendors-button {
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 18px;
		color: #231f20;
		border: 1px solid #231f20;
		cursor: pointer;
		
		span {
			padding-top: 2px;
		}
	}

	.wrapper-position-relative {
		position: relative;
		width: 100%;
	}
	.wrapper-position-absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.find-vendors-filter-wrapper {
		color: #b7b7b7;
		font-size: 15px;
		margin-top: 8px;
		overflow: hidden;
		position: relative;
		padding: 4px;
		margin-left: -2px;
		width: calc(100% + 4px);

		@media (max-width:$mobile){
			 font-size: 16px; 
		}
	}
	.find-vendors-filter-locations,
	.find-vendors-filter-cathegories {
		position: absolute;
		top: 0;
		left: -2px;
		width: calc(100% + 4px);
		padding: 10px 12px;
		background-color: #fff;
		display: flex;
		text-align: left;
		transform: translate(0, -300vh);	
		opacity: 0;
		transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;

		@media (max-width:$mobile){
			flex-direction: column; 
		}
	}
	.find-vendors-filter-cathegories {
		flex-direction: column;
	}
	.find-vendors-filter-locations._visible,
	.find-vendors-filter-cathegories._visible  {
		position: relative;
		transform: translate(0, 0);	
		opacity: 1;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.09);
		max-height: 175px;
		overflow: auto;
	}


	.find-vendors-filter-countries, .find-vendors-filter-popular {
		flex: 0 0 20%;
		padding-right: 12px;

		@media (max-width:$tablet){
			flex: 0 0 25%;
		}
	}
	.find-vendors-filter-settlements {
		flex: 0 0 60%;

		@media (max-width:$tablet){
			flex: 0 0 50%;
		}
	}
	.countries {	
		// .countries__wrapper
		&__wrapper {
			@media (min-width:$mobile){
				display: block;
				padding-right: 10px;
			}
		}
		// .countries__slide
		&__slide {
			text-align: left;
			padding: 8px 9px 4px;
			cursor: pointer;
		}
		// .countries__slider
		&__slider {
			.swiper-slide-active {
				color: #000;
				background-color: #F4F3F2;
				cursor: initial;
			}
		}
		
	}
	.find-vendors-filter-countries {
		@media (max-width:$mobile){
			padding: 0;
			.swiper {
				padding: 15px 30px 10px;
				margin: 0 0 15px;
				position: relative;
				
				&::after {
					content:'';
					position: absolute;
					height: 1px;
					width: calc(100% - 60px);
					bottom: 0;
					left: 30px;
					background-color: #F4F3F2;
				}
			}
			.swiper-wrapper {
			}
			.swiper-slide {
			}
			.swiper-countries-button-prev {
				position: absolute;
				top: 16px;
				left: 0;
				height: 27px;
				width: 30px;
				background: url('@img/icons/arrow-prew.svg') 4px center / contain no-repeat;
				background-color: rgb(255, 255, 255);
			}
			.swiper-countries-button-next {
				position: absolute;
				top: 16px;
				right: 0;
				height: 27px;
				width: 30px;
				background: url('@img/icons/arrow-next.svg') calc(100% - 4px) center / contain no-repeat;
				background-color: rgb(255, 255, 255);
			}
			.swiper-countries-button-prev.swiper-button-disabled, .swiper-countries-button-next.swiper-button-disabled {
				opacity: 0.4;
			}
		}
	}
	
	
	.title-orange-color {
		color: #C4950C;
		padding: 8px 9px 4px;
	}
	.most-popular-items, .settlements-items, .find-vendors-filter-cathegories {
		div {
			padding: 8px 9px 4px;
			cursor: pointer;
		}
	}
	.region-title {
		text-transform: uppercase;
		font-size: 15px;
		color: #000;
	}
	.settlements-items {
		display: flex;
	}
	.settlements-col {
		flex: 0 1 33.333%;
		padding: 0 !important;

		@media (max-width:$tablet){
			flex: 0 1 50%;
		}
	}
	.settlements-col:nth-child(3) {
		@media (max-width:$tablet){
			display: none;
		}
	}


}

@media (max-width: 1600px) {
	#directory-listings {
		#col-content {
			max-width: calc(100vw - 345px);
		}
	}
}

@media (max-width: 1240px) {
	#directory-listings {
		#col-contact {
			width: 290px;
		}

		#col-content {
			max-width: calc(100vw - 310px);
		}
	}
}
@media (max-width:$tablet){
	#directory-listings {
		#col-contact {
			display: none;
		}

		#col-content {
			max-width: 100%;
		}
	}
}
#contact-form.contact-form {
	padding: 10px;

	@media (max-width: 1240px){
		max-width: 100%;
	}

}


















// POP-UP CONTACT FORM:
#get-custom-matches-form {
	.checkbox__label.disabled:before {
		opacity: 0;
	}
	#contact-form-wrapper-mob {
		max-width: 100%;

		.contact-form-icon {
			width: 151px;
			height: 73px;
			display: block;
			margin: 0 auto 23px;
		}

		h2 {
			font-size: 20px;
			font-weight: 300;
			line-height: 115%;
			text-align: center;
			margin-bottom: 20px;
			color: #161616;
		}

		h2 span {
			font-style: italic;
			color: #c4950c;
			font-family: "Playfair Display";
			font-style: italic;
			white-space: nowrap;
		}

		h3 {
			font-size: 14px;
			line-height: 125%;
			text-align: center;
			color: #161616;
			margin-bottom: 20px;
			font-weight: 300;
		}

		.checkbox__label:before {
			background-color: #fff;
		}

		.contact-form__text {
			font-size: 18px;
			line-height: 115%;
			font-weight: 300;
			color: #262626;
			padding: 20px 10px 5px;
		}

		.contact-form__text--small {
			font-size: 14px;
			font-weight: 300;
			color: #969696;
			padding: 0px 10px 20px;
		}

		.checkboxes {
			padding: 5px 0 25px 10px;
			display: flex;
			gap: 10px;
			flex-wrap: wrap;

			.contact-form__item {
				flex: 0 1 calc(50% - 6px);

				@media (max-width: 1240px){
					flex: 1 1 100%;
				}
			}

			.checkbox__label:before {
				content: "";
				align-self: flex-start;
				flex: 0 0 14px;
				width: 14px;
				height: 14px;
				border: initial;
				margin: 0;
			}
			.checkbox__input:checked + .checkbox__label:before {
				background: url(../img/icons/checbox-checked.svg) 0 2px / contain no-repeat;
				border: initial;
				flex: 0 0 20px;
				width: 20px;
				height: 16px;
				margin: -2px -6px -5px 0;
				transform: translate(0, -1px);
			}
			
		}

		.checkbox__text {
			font-weight: 300;
		}

		button {
			font-family: var(--font-body);
			font-size: 20px;
			line-height: inherit;
			cursor: pointer;
			background-color: #c4950c;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-weight: 400;
			width: 100%;
			height: 48px;
		}

	}
}
